@charset "utf-8";

$smp-small:  "only screen and (max-width:320px)";
$smp:  "only screen and (max-width:750px)";
$smp-lauge:  "only screen and (max-width:750px) and (min-width:400px)";
$tablet:  "only screen and (max-width:910px) and (min-width:751px)";
$pc-small:  "only screen and (max-width:1280px) and (min-width:751px)";
$pc-lauge:  "only screen and (min-width:1601px)";
$pc-all:  "only screen and (min-width:751px)";


/* [ variable ]
-------------------------------------------------*/

/* font */
$key-color:#0000fa;
$corp-color:#00d2ff;
$border-color:#dee1e5;
$border-color-under:#b8b8bf;
$font-color:#191949;
$font-color-gray:#b4b4ba;
/* font */

/*  */
@mixin pc-width{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
@mixin sp-width{
	margin-left: 25px;
	margin-right: 25px;
}
@mixin sp-width-padding{
	padding-left: 25px;
	padding-right: 25px;
}
@mixin sp-min-width{
	min-width: 270px;
}


/* [ font style ]
-------------------------------------------------*/

@mixin font-gothic{
	font-family: YuGothic, '游ゴシック','Noto Sans JP',"Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
@mixin font-mityou{
	font-family: YuMincho, '游明朝',"Times New Roman","Hiragino Mincho ProN","ヒラギノ明朝 Pro W3","HGS明朝B","ＭＳ Ｐ明朝",serif,"Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
@mixin font-en{
	// font-family: 'Roboto Condensed';
	font-family: 'Rajdhani',sans-serif;
	font-weight: 600;
	// letter-spacing: 0.12em;
}
@mixin font-en-regular{
	font-family: 'Rajdhani',sans-serif;
	letter-spacing: 0.1em;
}
@mixin font-en-light{
	font-family: 'Rajdhani',sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	// letter-spacing: -0.1em;
}

/* [ opacity ]
-------------------------------------------------*/
@mixin opacity($num){
	-ms-filter: "alpha(opacity=$num)"; /* IE8 */
	opacity: $num/100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$num)";
	//display: inline-block\9;
}

/* [ blur ]
-------------------------------------------------*/

@mixin blur($num){
	-webkit-filter: blur($num + px);
	filter: blur($num + px);
}

/* [ radius ]
-------------------------------------------------*/

@mixin radius($num){
	-webkit-border-radius:$num;
	-moz-border-radius:$num;
	border-radius:$num;
}

/* [ easing ]
-------------------------------------------------*/

@mixin easing($speed){
	transition: all $speed+s ease-in;
	-moz-transition: all $speed+s ease-in;
	-webkit-transition: all $speed+s ease-in;
	-ms-transition: all $speed+s ease-in;
}
@mixin easing-linear($speed){
	transition: all $speed+s linear;
	-moz-transition: all $speed+s linear;
	-webkit-transition: all $speed+s linear;
	-ms-transition: all $speed+s linear;
}
@mixin easing-original($speed){
	transition: all $speed+s cubic-bezier(0.075,.82,.565,1);
	-moz-transition: all $speed+s cubic-bezier(0.075,.82,.565,1);
	-webkit-transition: all $speed+s cubic-bezier(0.075,.82,.565,1);
	-ms-transition: all $speed+s cubic-bezier(0.075,.82,.565,1);
}

@mixin easing-sample($speed){
	transition: all $speed+s cubic-bezier(.645,.045,.355,1);
	-moz-transition: all $speed+s cubic-bezier(.645,.045,.355,1);
	-webkit-transition: all $speed+s cubic-bezier(.645,.045,.355,1);
	-ms-transition: all $speed+s cubic-bezier(.645,.045,.355,1);
}


/* [ transform ]
-------------------------------------------------*/

@mixin rotate($num){
	transform: rotate($num+deg);
	-ms-transform: rotate($num+deg);
	-moz-transform: rotate($num+deg);
	-webkit-transform: rotate($num+deg);
}

@mixin rotateY($num){
	transform: rotateY($num+deg);
	-ms-transform: rotateY($num+deg);
	-moz-transform: rotateY($num+deg);
	-webkit-transform: rotateY($num+deg);
}

@mixin scale($num){
	transform:scale($num);
	-moz-transform:scale($num);
	-webkit-transform:scale($num);
	-ms-transform:scale($num);
}

@mixin delay($num){
	transition-delay:$num+s !important;
	-moz-transition-delay:$num+s !important;
	-webkit-transition-delay:$num+s !important;
	-o-transition-delay:$num+s !important;
	-ms-transition-delay:$num+s !important;
}

@mixin translateX($num){
	-webkit-transform: translateX($num);
	-moz-transform: translateX($num);
	-ms-transform: translateX($num);
	-o-transform: translateX($num);
	transform: translateX($num);
}

@mixin translateY($num){
	-webkit-transform: translateY($num);
	-moz-transform: translateY($num);
	-ms-transform: translateY($num);
	-o-transform: translateY($num);
	transform: translateY($num);
}

@mixin translate($x,$y){
	-webkit-transform: translate($x,$y);
	-moz-transform: translate($x,$y);
	-ms-transform: translate($x,$y);
	-o-transform: translate($x,$y);
	transform: translate($x,$y);
}

