@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* ALL =================================== */
body {
  background-color: #161616;
  height: 100%; }

.wrapper .slideshow {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
  .wrapper .slideshow img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 2px 30px 0px #0a0a0a; }
  .wrapper .slideshow .show {
    z-index: 1; }

/* PC =================================== */
/* PC　ALL */
/* PC　サイズ別 */
/* SMP =================================== */
